<!DOCTYPE html>
<html lang="en">

<head>
    <title>Snoball</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/main.css">
</head>

<body>

    <div class="container">
        <div class="header">
            <h3 class="text-muted">SnoBall</h3>
        </div>

        <div class="col-md-12">
            <input class="col-md-9" id="query_input" placeholder="Type query here and start snoballing.">
            <button class="button col-md-2" onclick="sendQuery()">SnoBall</button>
        </div>

        <div class="col-md-10" id="result_paper">

        </div>
        <footer class="footer">
            <p>&copy; Groep-6</p>
        </footer>

    </div>
    <script src="static/libs/jquery-3.2.1.min.js"></script>
    <script src="static/handlebars.min-latest.js"></script>
    <script src="static/index.js"></script>
{% raw %}
<script id="results-template" type="text/x-handlebars-template">

        {{#each this}}
        {{#if this.isAuthor }}
        <div class="result-entry">
            <a href='/author/details?id={{this.id}}' class="author-link">{{ this.name }}</a>
        </div>
        {{/if }}
                {{#if this.isPaper }}
        <div class="result-entry">
            <div>
                <a href='/paper/details?id={{this.id}}'>{{this.title }}</a>
            </div>
            <div>
                Written by: {{#each authors}} {{this}}{{#unless @last}},{{/unless}} {{/each}}
            </div>
        </div>
        {{/if }}
        {{/each }}
</script>

{% endraw %}

</body>

</html>