h2 { /* home main title*/
    color: #46B8BA;
    font-size: 400%;
    font-weight: 350;
}

h3 { /* home subtitle*/
    color: #5B5B5B;
    font-size: 100%;
    font-weight: 350;
}

h4 { /* page title */
    color: #5B5B5B;
    font-size: 200%;
    font-weight: 350;
}

h5 { /* snoball logo page */
    color: #46B8BA;
    font-size: 100%;
    font-weight: 350;
}

h6 { /* page kopjes */
    color: #5B5B5B;
    font-size: 150%;
    font-weight: 350;
}

body{
    background-color: #ffffff;
}

.header{/* Home header*/
    padding-top: 20px;
    text-align: center;
    padding-bottom: 10px;
    width: 100%;
}

.page-header{ /* page header */
    background-color: #ffffff;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 50px;
    width:100%;
    font-weight: 350;
}

.footer{
    color: #5B5B5B;
    text-align: right;
}

.author-link{
    color: #46B8BA;
}

.button {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    color: white!important;
    background-color:  #46B8BA;
    color: #454545;
    border: 1px solid #46B8BA;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.result-entry {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #F4F4F4;
    margin: 5px;
}

.top-buffer { margin-top:50px; }
